{% extends "auctions/listings.html" %}

{% block heading %}
<h2>Categories</h2>
{% endblock %}

{% block selector %}
<ul class="nav nav-tabs">
    {% for category in categories %}
    <li class="nav-item">
        {% if category.0 == active %}
        <a class="nav-link active" href="{% url 'category' category.0 %}">{{ category.1 }}</a>
        {% else %}
        <a class="nav-link" href="{% url 'category' category.0 %}">{{ category.1 }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}