{% extends "auctions/layout.html" %}

{% block body %}
{% block heading %}
{% endblock %}
{% block selector %}
{% endblock %}
<table>
    {% for listing in listings %}
    <tr>
        <td rowspan="4">
            <a href="{% url 'view_listing' listing.id %}">
                <img src="{{ listing.image }}" alt="No photo provided">
            </a>
        </td>
        <td><a href="{% url 'view_listing' listing.id %}">{{ listing.title }}</a></td>
    </tr>
    <tr>
        <td>EUR {{ listing.bid|floatformat:"2g" }}</td>
    </tr>
    <tr>
        <td>{{ listing.description }}</td>
    </tr>
    <tr>
        <td>Created {{ listing.created }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}