{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% block body %}

{% block name %}
{% endblock %}

{% if user.is_authenticated %}
<div class="new_post">
    <h3>New Post</h3>
    <form action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
        {{ new_post }}
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
</div>
{% endif %}

{% for post in posts %}
<div id="{{ post.id }}" class="post">
    <a class="nav-link" href="{% url 'view_profile' post.creator.id %}">
        <h3 class="post-creator">{{ post.creator }}</h3>
    </a>

    {% if user == post.creator %}
    <div class="post-edit">Edit</div>
    {% endif %}
    <div class="post-content">{{ post.content }}</div>
    <div class="post-timestamp">{{ post.timestamp }}</div>
</div>
{% endfor %}

{% block navigation %}
{% endblock %}

{% endblock %}