{% extends "network/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% block body %}
<h2>{{ profile.username }}</h2>
<div>Following: {{ no_following }}</div>
<div>Followers: {{ no_followers }}</div>

{% if following != None %}
<a href="{% url 'follow' profile.id %}">
    <button id="follow" type="Button" class="btn btn-primary">
        {% if following == True %}
        Unfollow
        {% else %}
        Follow
        {% endif %}
    </button>
</a>
{% endif %}

<hr>
{% for post in posts %}
<div id="{{ post.id }}" class="post">
    <h3>{{ post.creator }}</h3>
    <div class="post-edit">Edit</div>
    <div class="post-content">{{ post.content }}</div>
    <div class="post-timestamp">{{ post.timestamp }}</div>
</div>
{% endfor %}

{% endblock %}